# Python
backend/venv/
__pycache__/
*.pyc

# Node
frontend/node_modules/
frontend/dist/

.env
CLAUDE.MD

# Movie data output
movie_data/movie_data.json
movie_data/movie_data.csv
movie_data/seed_data.json
movie_data/seed_data.csv

